<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="saki.demo">
	
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 修改或删除您的USB存储设备中的内容 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 拥有完全的网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
	

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
		android:largeHeap="true">
		<meta-data android:name="class" android:value="saki.demo.Demo"/>
        <meta-data android:name="author" android:value="saki"/>
        <meta-data android:name="info" android:value="This is Demo"/>
        <meta-data android:name="jump" android:value="true"/>
         <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
				<action android:name="saki.setqq.plugin.v8.main"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		
        <activity android:name=".Test1Activity"></activity>
		<activity android:name=".Test2Activity"></activity>
		<activity android:name=".Test3Activity"></activity>
		<activity android:name=".Test4Activity"></activity>

		
		
		<service android:name=".RegisterService">
            <intent-filter>
                <action android:name="com.xioce.plugin.register" />
            </intent-filter>
        </service>
        <service android:name=".MessageService">
            <intent-filter>
                <action android:name="com.xioce.plugin.message" />
            </intent-filter>
        </service>
		<service android:name=".Main">
            <intent-filter>
                <action android:name="com.xioce.plugin.message" />
            </intent-filter>
        </service>
    </application>

</manifest>
